*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.container{
    display: flex;
    min-height: 100vh;
    background-image: url("assets/fabric.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.crust-area{
    

    display: flex;
    justify-content: center;
    align-items: center;

    width:  50%;
}

.crust-image-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crust-mask{
    position: absolute;
    top:0px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(31, 15, 77, 0.4); */
}

.crust-boundary{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    border-radius: 100%;
    /* background-color: rgba(196, 37, 37,0.5); */

    /* to center the toppings container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.toppings-container{
    height: 70%;
    width: 70%;
    position: relative;
    border-radius: 100%;
    /* background-color: rgba(89, 89, 224, 0.5); */
}


.toppings-area{
    width:  50%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.toppings-insertion-button-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.toppings-insertion-button{
    display: flex;
    align-items: center;

    padding:5px;
    margin:10px 10px;
    border-radius: 10px;

    font-size: 30px;
    background-color: rgb(219, 217, 217);
    border: none;

    transition: all 0.1s;

    box-shadow: 2px 2px 5px 5px rgb(31, 30, 30);
    
}

.toppings-insertion-button.selected{
    background-color: rgb(237, 240, 101);
}

.toppings-insertion-button:active{
    transition: all 0.1s;
    transform: scale(0.8);
    box-shadow: none;
}

.toppings-insertion-button img{
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
}

@media (max-width:500px) {
    .container{
        flex-direction: column;
        min-height: 100%;
        background-size: cover;
    }
    .crust-area{
        width: 100%;
    }
    .toppings-area{
        width: 100%;
    }
    .toppings-insertion-button{
        font-size: 20px;
    }
    #crust{
        height: 300px;
        width: 300px;
    }
}

@media (min-width:501px) and (max-width:799px) {
    .container{
        flex-direction: column;
        min-height: 100%;
        background-size: cover;
    }
    .crust-area{
        width: 100%;
    }
    .toppings-area{
        width: 100%;
    }
    .toppings-insertion-button{
        font-size: 25px;
    }
    #crust{
        height: 350px;
        width: 350px;
    }
}

@media (min-width:800px) and (max-width:1000px) {
    .container{
        flex-direction: column;
        min-height: 100%;
        background-size: cover;
    }
    .crust-area{
        width: 100%;
    }
    .toppings-area{
        width: 100%;
    }
    .toppings-insertion-button{
        font-size: 25px;
    }
    #crust{
        height: 400px;
        width: 400px;
    }
}